<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ajouter une Personne</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Optionnel : Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h1>Ajouter une Personne</h1>
<div class="col-md-3">
  <form th:action="@{/personnes/add}" method="post">
    <div class="form-group">
      <label for="nom">Id :</label>
      <input type="number" id="id" name="id" th:value="${personne.id}"
             class="form-control" >
    </div>
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" th:value="${personne.nom}"
             class="form-control" >
    </div>
    <div class="form-group">
      <label for="age">Âge :</label>
      <input type="number" id="age" name="age" th:value="${personne.age}"
             class="form-control" >
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
  </form>
</div>
</body>
</html>